<!-- <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" [showCloseIcon]="false">
    <h1 style="font-weight:normal">Left Sidebar</h1>
</p-sidebar>


<div class="p-d-flex p-p-3 card">


    <p-button type="button" (click)="visibleSidebar = true" icon="pi pi-arrow-right"></p-button>
    <button pButton type="button" label="Logout" class="p-button p-ml-auto" (click)="logout()"></button>

</div>
 -->

<div>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #leftSidenav mode="side" opened>
            <app-nav-menu-bar></app-nav-menu-bar>
        </mat-sidenav>
        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
            <div class="main_content">
                <div style="padding: 20px">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- <button pButton type="button" label="Logout" class="p-button p-ml-auto" (click)="logout()"></button> -->
</div>