<section [class.sidenav]="isExpanded" class="mini-nav-size">
  <div class="toggle">
    <img class="onedpo-logo-icon" src="../../../../../assets/icons/onedpo_logo.svg" *ngIf="isExpanded"/>
    <!-- <h1> oneDPO </h1> -->
    <img class="onedpo-logo-text-icon" src="../../../../../assets/icons/onedpo_name_icon.svg" *ngIf="isExpanded"/>
      <!-- *ngIf="isExpanded"/> -->
    <img src="../../../../../assets/icons/onedpo_logo_blue_icon.svg" *ngIf="!isExpanded"/>
    <button *ngIf="isExpanded" class="left-arrow-button " mat-icon-button
      aria-label="Example icon button with a menu icon" (click)="toggleMenu.emit(null)">
      <img src="../../../../../assets/icons/left_arrow_icon.svg"/>
    </button>
    <button *ngIf="!isExpanded" class="right-arrow-button " mat-icon-button
      aria-label="Example icon button with a menu icon" (click)="toggleMenu.emit(null)">
      <img src="../../../../../assets/icons/right_arrow.svg"/>
    </button>



    <!-- <span class="onedpo-logo-text">oneDPO</span> -->
    <!-- <mat-icon (click)="toggleMenu.emit(null)">
      {{ isExpanded ? "keyboard_backspace" : "dehaze" }}
    </mat-icon> -->
  </div>


  <mat-list class="nav">
    <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="about">
      <button class="" mat-icon-button>
        <img src="../../../../../assets/icons/dashboard_icon.svg"/>
      </button>
      <p matLine *ngIf="isExpanded" style="float:right">Dashboard</p>
    </a>
  </mat-list>







<!-- 
  <mat-list class="nav" *ngFor="let item of mainMenus">
    <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ item.link }}">
      <button class="" mat-icon-button aria-label="" (click)="toggleMenu.emit(null)">
        <img src="{{item.icon}}"/>
      </button>
      <p matLine *ngIf="isExpanded">{{ item.name }}</p>
      <mat-icon mat-list-icon [matTooltip]="!isExpanded ? item.name : null" matTooltipPosition="right">{{ item.icon }}</mat-icon>
      <p matLine *ngIf="isExpanded">{{ item.name }}</p>
    </a>
  </mat-list>
  <mat-list class="nav" *ngFor="let item of bottomMenus">
    <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ item.link }}">
      <mat-icon mat-list-icon [matTooltip]="!isExpanded ? item.name : null" matTooltipPosition="right">
        {{ item.icon }}</mat-icon>
      <p matLine *ngIf="isExpanded">{{ item.name }}</p>
    </a>
  </mat-list> -->
  <mat-list class="nav logout-nav-button" *ngFor="let item of logoutMenu">
    <a mat-list-item routerLinkActive="active-link" class="hover" routerLink="{{ item.link }}">
      <mat-icon mat-list-icon [matTooltip]="!isExpanded ? item.name : null" matTooltipPosition="right" (click)="logout()">
        {{ item.icon }}</mat-icon>
      <p matLine *ngIf="isExpanded">{{ item.name }}</p>
    </a>
  </mat-list>

</section>